<web-app>
	<servlet>
		<description>
		</description>
		<display-name>DataDemoServlet</display-name>
		<servlet-name>DataDemoServlet</servlet-name>
		<servlet-class>com.mindty.controler.DataDemoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataDemoServlet</servlet-name>
		<url-pattern>/DataDemoServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>LoginServlet</welcome-file>
	</welcome-file-list>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
